{% extends "network/layout.html" %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block body %}
<!-- based on https://stackoverflow.com/a/14647770 -->
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="alert alert-danger hidden" id="file-size-error">
    <strong>file size</strong>
</div>
<div class="alert alert-danger hidden" id="file-type-error">
    <strong>file type</strong>
</div>
<div class="create-listing-form">
    <form action="{% url 'network:edit-profile'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name }}
        </div>
        <div class="form-group">
            <!-- date-picker based on: https://github.com/monim67/django-flatpickr -->
            {{ form.date_of_birth.label }}
            {{ form.date_of_birth }}
        </div>
        <div class="form-group">
            {{ form.about.label }}
            {{ form.about }}
        </div>
        <div class="form-group">
            {{ form.country.label }}
            {{ form.country }}
        </div>
        <div class="form-group">
            {{ form.image.label }}
            {{ form.image }}
        </div>
        <input class="btn btn-primary" type="submit">
        <button class="btn btn-primary" name="cancel" value="clicked">Cancel</button></a>  
    </form>
</div>
{% endblock %}

{% block script %}
    {{ form.media.js }}
    <!-- TODO: move scipt to separate file -->
    <script>
        let fileInput = document.querySelector("form input[type=file]");

        fileInput.addEventListener("change", (event) => {
            let file =  event.target.files[0];
            let fileSize = file.size / 1024 / 1024;
            let fileType = file.type;

            // Check if file is an image
            if (typeof fileType == "undefined" || fileType.indexOf("image") === -1) {
                document.getElementById("file-type-error").classList.remove("hidden")
                fileInput.value = null ;              
            }
            // Check if file exceeds file size limit
            else if (fileSize > 5) {
                document.getElementById("file-size-error").classList.remove("hidden")
                fileInput.value = null;
            }
        })
    </script>
{% endblock %}
        
