{% extends "network/layout.html" %}
{% load static %}
{% load custom_tags %}

{% block body %}
    {% if user.is_authenticated and add_post_available %}
    <form action="{% url 'network:index' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.content}}
        </div>
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
    {% endif %}
    {% for post in page_obj.object_list %}
        <div class="post" id={{ post.id }}>
            <!-- <h1>{{ post.get_emoji_count }}</h1> -->
            <div class="post-user">
                {{ post.user}}
            </div>
            <div class="post-content">
                {{ post.content}}
            </div>
            {% if user.id == post.user.id %}
                <button class="edit-button">Edit</button>
            {% endif %}
            <div class="post-date">
                {{ post.date}}
            </div>
            <div class="like-comment-data">
                <ul class="emoji-list">
                    {% for emoji in post.likes.all %}     
                        {% ifchanged emoji.get_emoji_type_display%}   
                            <!-- TODO: add data-* attribute to count all likes of every type            -->
                            {% if emoji.get_emoji_type_display == "like" %}
                                <i class="em em---1" aria-role="presentation" aria-label="THUMBS UP SIGN" data-count={% get_emoji_count post 'like' %}><a name="like"></a></i>
                            {% elif emoji.get_emoji_type_display == "dislike" %}
                                <i class="em em--1" aria-role="presentation" aria-label="THUMBS DOWN SIGN" data-count={% get_emoji_count post 'dislike' %}><a name="dislike"></a></i>
                            {% elif emoji.get_emoji_type_display == "smile" %}
                                <i class="em em-smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND SMILING EYES" data-count={% get_emoji_count post 'smile' %}><a name="smile"></a></i>
                            {% elif emoji.get_emoji_type_display == "heart" %}
                                <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART" data-count={% get_emoji_count post 'heart' %}><a name="heart"></a></i>
                            {% elif emoji.get_emoji_type_display == "thanks" %}
                                <i class="em em-bouquet" aria-role="presentation" aria-label="BOUQUET" data-count={% get_emoji_count post 'thanks' %}><a name="thanks"></a></i>
                            {% endif  %}  
                        {% endifchanged %}                
                    {% endfor %}
                </ul>
                <span class="like-counter">{{ post.likes.all.count }}</span>
            </div>
            {% if user.is_authenticated %}
            <div class="like-comment-control">
                <div class="like-panel">
                    <button class="like-button" name="like">like</button>
                    <div class="emoji-choice hidden">
                        <ul>
                            <i class="em em---1" aria-role="presentation" aria-label="THUMBS UP SIGN"><a name="like"></a></i>
                            <i class="em em--1" aria-role="presentation" aria-label="THUMBS DOWN SIGN"><a name="dislike"></a></i>
                            <i class="em em-smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND SMILING EYES"><a name="smile"></a></i>
                            <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"><a name="heart"></a></i>
                            <i class="em em-bouquet" aria-role="presentation" aria-label="BOUQUET"><a name="thanks"></a></i>
                        </ul>
                    </div>
                </div>
                <button class="comment-button">comment</button>
            </div>
            {% endif %}
        </div>
    {% empty %}
        No posts yet
    {% endfor %}
    <!-- TODO: beautify paginator with bootstrap -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/functions.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'network/authenticated.js' %}"></script>
    {% else %}
        <script src="{% static 'network/not_authenticated.js' %}"></script>
    {% endif %}  
{% endblock %}

