{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block body %}
    {% if user.is_authenticated and add_post_available %}
    <form action="{% url 'network:index' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.content}}
        </div>
        <input class="btn btn-primary" type="submit" value='{% trans "Post" %}'>
    </form>
    {% endif %}
    {% for post in page_obj.object_list %}
        {% include "network/posts.html"%}
    {% empty %}
        No posts yet
    {% endfor %}
        {% include "network/paginator.html"%}
{% endblock %}

{% block script %}
    <script src="{% static 'network/post_like_functions.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'network/authenticated.js' %}"></script>
    {% else %}
        <script src="{% static 'network/not_authenticated.js' %}"></script>
    {% endif %}  
{% endblock %}

