{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Emojis CSS -->
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <link href="{% static 'network/main_styles.css' %}" rel="stylesheet">
        <link href="{% static 'network/post_comment_styles.css' %}" rel="stylesheet">
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        <nav class="nav-grid bg-light">
            <a class="network-link" href="{% url 'network:index'%}">Network</a>
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'network:user-profile' user_id=user.id%}"><strong>{{ user.username }}</strong></a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'network:index'%}">{% trans "All Posts" %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'network:following'%}">{% trans "Following" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'network:logout' %}">{% trans "Log Out" %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'network:login' %}">{% trans "Log In" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'network:register' %}">{% trans "Register" %}</a>
                        </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
              <div class="choose-lang">
                {% get_current_language as LANGUAGE_CODE %}
                <form action="{% url 'set_language' %}" method="post" style="display:inline!important;">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <button class="lang-button {% if LANGUAGE_CODE == "pl" %} grey-out {% endif %}" name="language" type="submit" value="en">
                        <img src="{% static 'network/img/en.png' %}">
                        <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
                    </button>
                    <button class="lang-button {% if LANGUAGE_CODE != "pl" %} grey-out {% endif %}" name="language" type="submit" value="pl">
                        <img src="{% static 'network/img/pl.png' %}">
                        <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
                    </button>
                </form>
            </div>
        </nav>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>