{% load custom_tags %}
{% load i18n %}

<div class="post-comment-element">
    <div class="post" id='post_{{ post.id }}'>
        <div class="post-user">
            <img class="round-picture post-profile-picture" src="{{ post.user.profile.image.url }}" title={{ post.user }} alt="profile picture">
            <a href="{% url 'network:user-profile' user_id=post.user.id %}">{{ post.user }}</a>
        </div>
        {% if user.id == post.user.id %}
            <div class="delete-edit-panel">
                <div class="dropdown">
                    <a class="btn icon-button" href="#" role="button" id="dropdownMenuLink_{{ post.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="rgb(101, 103, 107)" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </a>
                
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_{{ post.id }}">
                        <button class="dropdown-item dropdown-edit" data-toggle="modal" data-target="#modal_edit_post_{{ post.id }}">{% trans "Edit" %}</button>
                        <button class="dropdown-item dropdown-delete" data-toggle="modal" data-target="#modal_delete_post_{{ post.id }}">{% trans "Delete" %}</button>
                    </div>
                </div>
            </div>

            <!-- Modals -->
            <div class="modal fade delete-modal" id="modal_delete_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_delete_post_{{ post.id }}_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal_delete_post_{{ post.id }}_label">{% trans "Are you sure?" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            {% trans "Are you sure you want to delete this post? This procedure is irreversible!" %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" class="btn btn-danger modal-delete">{% trans "Delete" %}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade edit-modal" id="modal_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_{{ post.id }}_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal_edit_post_{{ post.id }}_label">{% trans "What did you really want to say?" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" class="btn btn-primary modal-save">{% trans "Save" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="post-date">
            {% trans "Posted: " %} {{post.date|timesince}} {% trans "ago" %}
        </div>
        <div class="content post-content short">
            {{ post.content}}
        </div>
        <div class="show-more hidden">{% trans "Show more" %}</div>
        <div class="like-data">
            <ul class="emoji-list">
                {% for emoji in post.likes.all %}     
                    {% ifchanged emoji.get_emoji_type_display%}   
                        {% if emoji.get_emoji_type_display == "like" %}
                            <i class="em em---1" aria-role="presentation" aria-label="THUMBS UP SIGN" data-count={% get_emoji_count post 'like' %} data-name="like"></i>
                        {% elif emoji.get_emoji_type_display == "dislike" %}
                            <i class="em em--1" aria-role="presentation" aria-label="THUMBS DOWN SIGN" data-count={% get_emoji_count post 'dislike' %} data-name="dislike"></i>
                        {% elif emoji.get_emoji_type_display == "smile" %}
                            <i class="em em-smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND SMILING EYES" data-count={% get_emoji_count post 'smile' %} data-name="smile"></i>
                        {% elif emoji.get_emoji_type_display == "heart" %}
                            <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART" data-count={% get_emoji_count post 'heart' %} data-name="heart"></i>
                        {% elif emoji.get_emoji_type_display == "thanks" %}
                            <i class="em em-bouquet" aria-role="presentation" aria-label="BOUQUET" data-count={% get_emoji_count post 'thanks' %} data-name="thanks"></i>
                        {% endif  %}  
                    {% endifchanged %}                
                {% endfor %}
            </ul>
            <span class="like-counter"></span>
        </div>
        <div class="comment-data">
            <span class="comment-count">{% trans "Comments:" %} {{post.comments.all.count}}</span>
        </div>
        {% if user.is_authenticated %}
        <div class="like-comment-control">
            <div class="like-panel">
                <button class="like-button" name="like">{% trans "Like" %}</button>
                <div class="emoji-choice hidden">
                    <ul>
                        <i class="em em---1" aria-role="presentation" aria-label="THUMBS UP SIGN" data-name="like"></i>
                        <i class="em em--1" aria-role="presentation" aria-label="THUMBS DOWN SIGN" data-name="dislike"></i>
                        <i class="em em-smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND SMILING EYES" data-name="smile"></i>
                        <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART" data-name="heart"></i>
                        <i class="em em-bouquet" aria-role="presentation" aria-label="BOUQUET" data-name="thanks"></i>
                    </ul>
                </div>
            </div>
            <button class="comment-button" data-toggle="collapse" data-target="#post_{{ post.id }} ~ .comment-section" aria-expanded="false" aria-controls="comment-section">{% trans "Comments" %}</button>
        </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="comment-section collapse multi-collapse">
        {% for comment in post.comments.all %}
            {% include "network/comments.html"%}
            <hr class="comment-separation">
        {% endfor %}
        <div class="comment-form-wrapper">
            <a href="{% url 'network:user-profile' user_id=user.id %}">
                <img class="round-picture comment-profile-picture" src="{{ user.profile.image.url }}" title={{ user }} alt="profile picture">
            </a>
            <form action="{% url 'network:post-comment' action='comment' %}" method="post">
                {% csrf_token %}
                <div class="comment-form-content">
                    {{ comment_form.content}}
                    <button type="submit" class="icon-button">
                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-chat-fill" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                        </svg>
                    </button>
                    <input type="hidden" name="postId" value={{ post.id }}>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>