{% load custom_tags %}
{% load i18n %}

<div class="post" id={{ post.id }}>
    <div class="post-user">
        <a href="{% url 'network:user-profile' user_id=post.user.id %}">{{ post.user }}</a>
    </div>
    <div class="post-content short">
        {{ post.content}}
    </div>
    <div class="show-more hidden">{% trans "Show more" %}</div>
    {% if user.id == post.user.id %}
        <button class="edit-button">{% trans "Edit" %}</button>
    {% endif %}
    <div class="post-date">
        {{post.date|timesince}} {% trans "ago" %}
    </div>
    <div class="like-comment-data">
        <ul class="emoji-list">
            {% for emoji in post.likes.all %}     
                {% ifchanged emoji.get_emoji_type_display%}   
                    {% if emoji.get_emoji_type_display == "like" %}
                        <i class="em em---1" aria-role="presentation" aria-label="THUMBS UP SIGN" data-count={% get_emoji_count post 'like' %} data-name="like"></i>
                    {% elif emoji.get_emoji_type_display == "dislike" %}
                        <i class="em em--1" aria-role="presentation" aria-label="THUMBS DOWN SIGN" data-count={% get_emoji_count post 'dislike' %} data-name="dislike"></i>
                    {% elif emoji.get_emoji_type_display == "smile" %}
                        <i class="em em-smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND SMILING EYES" data-count={% get_emoji_count post 'smile' %} data-name="smile"></i>
                    {% elif emoji.get_emoji_type_display == "heart" %}
                        <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART" data-count={% get_emoji_count post 'heart' %} data-name="heart"></i>
                    {% elif emoji.get_emoji_type_display == "thanks" %}
                        <i class="em em-bouquet" aria-role="presentation" aria-label="BOUQUET" data-count={% get_emoji_count post 'thanks' %} data-name="thanks"></i>
                    {% endif  %}  
                {% endifchanged %}                
            {% endfor %}
        </ul>
        <span class="like-counter"></span>
    </div>
    {% if user.is_authenticated %}
    <div class="like-comment-control">
        <div class="like-panel">
            <button class="like-button" name="like">Like</button>
            <div class="emoji-choice hidden">
                <ul>
                    <i class="em em---1" aria-role="presentation" aria-label="THUMBS UP SIGN" data-name="like"></i>
                    <i class="em em--1" aria-role="presentation" aria-label="THUMBS DOWN SIGN" data-name="dislike"></i>
                    <i class="em em-smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND SMILING EYES" data-name="smile"></i>
                    <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART" data-name="heart"></i>
                    <i class="em em-bouquet" aria-role="presentation" aria-label="BOUQUET" data-name="thanks"></i>
                </ul>
            </div>
        </div>
        <button class="comment-button">{% trans "Comment" %}</button>
    </div>
    {% endif %}
</div>