{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link href="{% static 'network/user_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="user-profile">
        <div class="profile-picture">
            <img src="{{ user_data.profile.image.url }}" alt="{{ user_data.username }}" class="round-picture">
        </div>
        <!-- Image Modal -->
        <div class="img-modal">
            <!-- Close Button -->
            <span class="modal-close">&times;</span>
            <!-- Modal Content (The Image) -->
            <img class="modal-content fade-in" id="img01">
            <!-- Modal Caption (Image Text) -->
            <div id="modal-img-caption" class="fade-in"></div>
        </div>
        <div class="profile-username">
            {{ user_data.username }}
        </div>
        <div class="profile-buttons">
            {% if user.id != user_data.id %}
                <form action="{% url 'network:follow-unfollow' user_id=user_data.id %}" method="POST">
                    {% csrf_token %}
                {% if user in followers%}
                        <button type="submit" class="btn btn-danger unfollow">
                            <svg viewBox="0 0 16 16" class="bi bi-person-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            {% trans "Unfollow" %}
                        </button>
                {% else %}
                        <button type="submit" class="btn btn-success follow">
                            <svg viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                            {% trans "Follow" %}
                        </button>
                {% endif %}
                </form>
            {% else %}
                <a href="{% url 'network:edit-profile'%}">
                    <button id="edit-profile-btn" class="btn btn-primary">
                        <svg viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                        {% trans "Edit profile" %}
                    </button>
                </a>      
            {% endif %}
        </div>
        <div class="profile-following info-card">
            <div class="followers">
                <svg viewBox="0 0 16 16" class="bi bi-people-fill profile-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
                <span class="follow-text">
                    Followers <span class="follow-count">{{ followers.count }}</span>
                </span>
            </div>
            <div class="following">
                <svg title="Following" viewBox="0 0 16 16" class="bi bi-person-badge profile-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 0 1 4.5 0h7A2.5 2.5 0 0 1 14 2.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2.5zM4.5 1A1.5 1.5 0 0 0 3 2.5v10.795a4.2 4.2 0 0 1 .776-.492C4.608 12.387 5.937 12 8 12s3.392.387 4.224.803a4.2 4.2 0 0 1 .776.492V2.5A1.5 1.5 0 0 0 11.5 1h-7z"/>
                    <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <span class="follow-text">
                    Following <span class="follow-count">{{ following.count }}</span>
                </span>
            </div>
        </div>
        <div class="bio info-card">
            <h4>BIO</h4>
            <div class="profile-name">
                <svg viewBox="0 0 16 16" class="bi bi-person-fill profile-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <span>
                    {% trans "Name:" %} 
                    {% if user_data.profile.about == "" or user_data.profile.about is None %}
                        ---
                    {% else %}
                        {{ user_data.profile.name }}
                    {% endif %}
                </span>
            </div>
            <div class="profile-birth">
                <svg viewBox="0 0 16 16" class="bi bi-hourglass-top profile-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 14.5a.5.5 0 0 0 .5.5h11a.5.5 0 1 0 0-1h-1v-1a4.5 4.5 0 0 0-2.557-4.06c-.29-.139-.443-.377-.443-.59v-.7c0-.213.154-.451.443-.59A4.5 4.5 0 0 0 12.5 3V2h1a.5.5 0 0 0 0-1h-11a.5.5 0 0 0 0 1h1v1a4.5 4.5 0 0 0 2.557 4.06c.29.139.443.377.443.59v.7c0 .213-.154.451-.443.59A4.5 4.5 0 0 0 3.5 13v1h-1a.5.5 0 0 0-.5.5zm2.5-.5v-1a3.5 3.5 0 0 1 1.989-3.158c.533-.256 1.011-.79 1.011-1.491v-.702s.18.101.5.101.5-.1.5-.1v.7c0 .701.478 1.236 1.011 1.492A3.5 3.5 0 0 1 11.5 13v1h-7z"/>
                </svg>
                <span>
                    {% trans "Birth:" %} 
                    {% if user_data.profile.about == "" or user_data.profile.about is None %}
                        ---
                    {% else %}
                        {{ user_data.profile.date_of_birth | date:"d.m.Y" }}
                    {% endif %}
                </span>
            </div>
            <div class="profile-about">
                <svg viewBox="0 0 16 16" class="bi bi-pencil-square profile-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                <span>
                    {% trans "About:" %}
                    {% if user_data.profile.about == "" or user_data.profile.about is None %}
                        ---
                    {% else %}
                        {{ user_data.profile.about }}
                    {% endif %}
                </span>
            </div>
            <div class="profile-country">
                <svg viewBox="0 0 16 16" class="bi bi-geo-alt-fill profile-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <span>
                    {% trans "Country:" %} 
                    {% if user_data.profile.country == ""  or user_data.profile.about is None %}
                        ---
                    {% else %}
                        {{ user_data.profile.country.name }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    
    {% for post in page_obj.object_list%}
        {% include "network/posts.html"%}
    {% empty %}
        <div class="no-posts">
            {% trans "No posts yet" %}
        </div>
    {% endfor %}
        {% include "network/paginator.html"%}
{% endblock %}

{% block script %}
        <script src="{% static 'network/user_profile_functions.js' %}"></script>
        <script src="{% static 'network/post-comment_functions.js' %}"></script>
        <script src="{% static 'network/post_functions.js' %}"></script>
        <script src="{% static 'network/comment_functions.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'network/authenticated.js' %}"></script>
    {% else %}
        <script src="{% static 'network/not_authenticated.js' %}"></script>
    {% endif %}  
{% endblock %}
