{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block body %}
    <div class="profile-username">
        {{ user_data.username }}
    </div>
    <div class="profile-following">
        {% if user.id != user_data.id %}
            <form action="{% url 'network:follow-unfollow' user_id=user_data.id %}" method="POST">
                {% csrf_token %}
            {% if user in followers%}
                    <button type="submit" class="unfollow">Unfollow</button>
            {% else %}
                    <button type="submit" class="follow">Follow</button>
            {% endif %}
            </form>
        {% else %}
            <a href="{% url 'network:edit-profile'%}"><button class="btn btn-primary">{% trans "Edit profile" %}</button></a>      
        {% endif %}
        <ul>
            <li>Followers {{ followers.count }}</li>
            <li>Following {{ following.count }}</li>
        </ul>
    </div>
    <div class="profile-name">
        {% trans "Name:" %} 
        {% if user_data.profile.name is None %}
            ---
        {% else %}
            {{ user_data.profile.name }}
        {% endif %}
    </div>
    <div class="profile-birth">
        {% trans "Birth:" %} 
        {% if user_data.profile.date_of_birth is None %}
            ---
        {% else %}
            {{ user_data.profile.date_of_birth | date:"d.m.Y" }}
        {% endif %}
    </div>
    <div class="profile-about">
        {% trans "About:" %}
        {% if user_data.profile.about == "" %}
            ---
        {% else %}
            {{ user_data.profile.about }}
        {% endif %}
    </div>
    <div class="profile-country">
        {% trans "Country:" %} 
        {% if user_data.profile.country == ""%}
            ---
        {% else %}
            {{ user_data.profile.country.name }}
        {% endif %}
    </div>
    <div class="profile-picture">
        <img src="{{ user_data.profile.image.url }}">
    </div>
    
    {% for post in page_obj.object_list%}
        {% include "network/posts.html"%}
    {% empty %}
        {% trans "No posts yet" %}
    {% endfor %}
        {% include "network/paginator.html"%}
{% endblock %}

{% block script %}
    <script src="{% static 'network/functions.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'network/authenticated.js' %}"></script>
    {% else %}
        <script src="{% static 'network/not_authenticated.js' %}"></script>
    {% endif %}  
{% endblock %}
