.icon-button {
    background: transparent;
    border: transparent;
    transition: background 0.2s;
}

.comment .icon-button {
    padding: 1px 6px 4px 6px;
    border-radius: 20px;
}

.icon-button:hover {
    background: var(--hover-color);
}


/* ------ Comment styles ------ */
.comment-section {
    margin: 0px auto 20px auto;
    background-color: white;
    max-width: 60%;
}

 .comment {
    padding: 25px 10px;
}

 /* ------ Comment form styles ------ */
.comment-form-wrapper {
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 50px auto;
}

.comment-form-wrapper a {
    justify-self: center;
    align-self: top;
}

.comment-form-content {
    position: relative;
}

.comment-form-content textarea {
    min-height: 30px;
    border-radius: 25px;
    padding-right: 30px;
}

.comment-form-content svg {
    fill:  #282c318a;
}

.comment-form-content button[type="submit"] {
    position:absolute;
    bottom:4px;
    right:10px;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

 /* ------ Comment separator styles ------ */
.comment-separation {
    margin: 0px auto;
    width: 80%;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Comment grid structure styles ------ */
.comment {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto) minmax(25px, auto) auto;
}

.comment-user-image {
    grid-column: 1/2;
    grid-row: 1/2;
}

.delete-edit-panel {
    grid-column: 12/13;
    grid-row: 1/3;
}

.comment-main {
    grid-column: 2/12;
    grid-row: 1/3;
}

.comment .show-more {
    grid-column: 2/12;
    grid-row: 3/4;
}

.comment .like-comment-control {
    grid-column: 2/5;
    grid-row: 4/5;
}

.comment .like-data {
    grid-column: 5/8;
    grid-row: 4/5;
}

.comment-date {
    grid-column: 8/12;
    grid-row: 4/5;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Comment comment-user-image styles ------ */
.comment-user-image {
    justify-self: center;
}

.comment-profile-picture {
    height: 30px;
    width: 30px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Comment comment-main styles ------ */
.comment-main {
    padding: 10px;
    border-radius: 18px;
    background-color: rgb(240, 242, 245);
    font-family: var(---secondary-text-family);
}

.comment-main a {
    display: block;
    font-size: 0.82rem;
    font-weight: 600;
    color: black;
}

.comment-content {
    max-height: none;
    line-height: 1.5em;
    overflow-wrap: break-word;
    overflow: hidden;
}

.comment-content.short {
    max-height: 6em;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

 /* ------ Comment delete-edit-panel styles ------ */
.comment .delete-edit-panel {
    justify-self: center;
    align-self: center;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

 /* ------ Comment post-date styles ------ */
 .comment-date {
    font-size: 0.8rem;
    font-weight: 300;
    justify-self: end;
 }
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Comment like-data styles ------ */
.comment .like-data {
    justify-self: center;
    white-space: nowrap;
}

.comment .like-data .em {
    height: 1.3rem;
    width: 1.3rem;
}

.comment .like-counter {
    font-size: 0.9em;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Comment like-comment-control styles ------ */
.comment .like-panel {
    display: inline;
}

.comment .like-button {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(---secondary-text);
}

.comment .like-panel:hover .like-button {
    text-decoration: underline;
}

.comment .like-button.liked {
    color: rgba(236, 45, 45, 0.774);
}


.comment .like-button > i {
    margin-right: 10px;
}

.comment .like-button .em {
    height: 1.3rem;
    width: 1.3rem;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */