 /* ------ Comment styles ------ */
.comment-section {
    border: 2px solid rgb(51, 146, 190);
    background-color: rgba(255, 0, 0, 0.219);
    max-width: 60%;
    margin: 40px auto;
}

 .comment {
    border: 1px solid rgb(96, 214, 66);
    margin-top: 10px;
    padding: 25px 10px;
}

 /* ------ Comment form styles ------ */
.comment-form-wrapper {
    display: grid;
    grid-template-columns: 50px auto;
}

.comment-form-wrapper a {
    justify-self: center;
}

.comment-form-content {
    position: relative;
}

.comment-form-content textarea {
    min-width: 40px;
    border-radius: 25px;
}

.comment-form-content svg {
    fill: rgba(29, 160, 242, 0.7)
}

.comment-form-content button[type="submit"] {
    position:absolute;
    bottom:4px;
    right:10px;
    background: transparent;
    border: transparent;
    border-radius: 20px;
    padding: 1px 8px 6px 8px;
    transition: background 0.2s;
}

.comment-form-content button[type="submit"]:hover {
    background: rgba(128, 128, 128, 0.15);
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Comment grid structure styles ------ */
.comment {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.commen-user {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid red;
}

.comment-content {
    grid-column: 2/12;
    grid-row: 1/2;
    border: 1px solid red;
}

.comment .show-more {
    grid-column: 2/12;
    grid-row: 2/3;
    border: 1px solid red;
}

.comment .like-comment-control {
    grid-column: 2/4;
    grid-row: 3/4;
    border: 1px solid red;
}

.comment .like-data {
    grid-column: 4/6;
    grid-row: 3/4;
    border: 1px solid red;
}

.comment-date {
    grid-column: 6/12;
    grid-row: 3/4;
    border: 1px solid red;
}


 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.comment-content {
    max-height: none;
    line-height: 1.5em;
    overflow-wrap: break-word;
    overflow: hidden;
}

.comment-content a{
    display: block;
}

.comment-content.short {
    max-height: 6em;
}

/* .comment-section .form-control {
    width: 40%;
} */
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */