.post {
    border: 1px solid black;
    margin: 10px;
    max-width: 60%;
    padding: 25px 10px;
}

/* .edit-button.hidden {
    display: none;
} */

.hidden {
    display: none;
}

.like-comment-control {
    border: 1px solid black;
    position: relative;
}

.like-comment-control ul {
    margin: 0px;
    padding: 0px;
}

.emoji-choice {
    padding: 3px 10px;
    border-radius: 10px;
    position: absolute;
}

.like-panel-in {
    -webkit-transform-origin: 100% 50%;
    animation: like-panel-in 1s linear forwards;
    
}

.like-panel-out {
    -webkit-transform-origin: 100% 50%;
    animation: like-panel-out 1s linear forwards;
}

 @keyframes like-panel-in {
     0% {
        background: transparent;
        opacity: 0;
        /* top: 0px; */
        -webkit-transform: translateY(-30px);
     }

     100% {
        background: rgba(128, 128, 128, 0.671);
        opacity: 1;
        /* top: -40px; */
        -webkit-transform: translateY(-70px);
     }
 }

 @keyframes like-panel-out {
     0% {
        background: rgba(128, 128, 128, 0.671);
        opacity: 1;
        /* top: -40px; */
        -webkit-transform: translateY(-70px);
     }

     100% {
        background: transparent;
        opacity: 0;
        /* top: 0px; */
        -webkit-transform: translateY(-30px);
     }
 }