:root {
    --secondary-text: #545557;
}


.hidden {
    display: none;
}

/* ------ Post grid structure styles ------ */
.post {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, minmax(40px, auto)) minmax(0px, auto) repeat(2, minmax(40px, auto));
}

.post-user {
    grid-column: 1/7;
    grid-row: 1/2;
}

.delete-edit-panel {
    grid-column: 7/13;
    grid-row: 1/2; 
}

.post-date {
    grid-column: 1/13;
    grid-row: 2/3;
}

.post-content {
    grid-column: 1/13;
    grid-row: 3/6;
}

.show-more {
    grid-column: 1/13;
    grid-row: 6/7;
}

.like-data {
    grid-column: 1/7;
    grid-row: 7/8;
}

.comment-data {
    grid-column: 7/13;
    grid-row: 7/8;
}

.like-comment-control {
    grid-column: 1/13;
    grid-row: 8/9;
    display: grid;
    grid-template-rows: 80%;
}

.like-panel {
    grid-column: 1/7;
    grid-row: 1/2;
}

.comment-button {
    grid-column: 7/13;
    grid-row: 1/2;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

 /* ------ Post block styles ------ */
.post {
    border: 1px solid black;
    margin: 40px auto;
    max-width: 60%;
    padding: 25px 10px;
    background-color: rgb(78, 207, 207)
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Post post-user styles ------ */
 .post-profile-picture {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.post-user a {
    padding-left: 10px;
    font-weight: bold;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post delete-edit-panel styles ------ */
.delete-edit-panel {
    justify-self: end;
}

.delete-edit-panel button{ 
    height: 90%;
    margin: 0px 5px;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post post-date styles ------ */
.post-date {
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    align-self: center;
    color: var(--secondary-text)
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post post-content styles ------ */
.post-content {
    max-height: none;
    line-height: 1.5em;
    overflow: hidden;
    background-color: white;
}

.post-content.short {
    max-height: 6em;
}

.show-more {
    justify-self: center;
    align-self: center;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post like-data styles ------ */
.like-data {
    align-self: center;
}

.emoji-list {
    display: inline;   
}

.emoji-list > i {
    position: relative;
}

.like-counter {
    margin-left: 5px;
    font-size: 0.9em;
    font-weight: 380;
    color: var(--secondary-text);
}

.likes-indicator {
    display: inline;
    position: absolute;
    top: -30px;
    left: 6px;
    padding: 1px 3px;
    background: rgba(231, 161, 56, 0.5);
    border-radius: 10px;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

 /* ------ Post comment-data styles ------ */
 .comment-data {
     align-self: center;
     justify-self: end;
     font-size: 0.9em;
     font-weight: 380;
     color: var(--secondary-text);
 }
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* TODO: different widths of comment/like buttons fix*/
/* ------ Post like-comment-control styles ------ */
.like-comment-control {
    position: relative;
}

.like-comment-control button {
    background: transparent;
    border: none;
}

.like-comment-control button {
    border-radius: 20px;
}

.like-comment-control button:hover {
    background: rgba(99, 98, 98, 0.233);
}

.post .like-button {
    width: 100%;
    height: 100%;
}

.like-button.liked {
    background: rgba(60, 60, 219, 0.308)
}

.like-button > i {
    margin-right: 15px;
}

/* Like panel */
.like-comment-control ul {
    margin: 0px;
    padding: 0px;
}

.emoji-choice {
    padding: 8px 10px;
    border-radius: 20px;
    position: absolute;
}

.like-panel-in {
    animation: like-panel-in 0.5s ease-out forwards;
    
}

/* Emoji */
.emoji-choice i.em:hover {
    transform: scale(1.4);
    transition: transform 0.4s;
}

/* Animations */
 @keyframes like-panel-in {
     0% {
        background: transparent;
        opacity: 0;
        top: 0px;
     }

     100% {
        background: rgba(128, 128, 128, 0.671);
        opacity: 1;
        top: -32px;
     }
 }
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


 /* ------ Comment styles ------ */
.comment {
    border: 1px solid rgb(96, 214, 66);
    margin: 10px;
    max-width: 60%;
    padding: 25px 10px;
}

.comment-content {
    max-height: none;
    line-height: 1.5em;
    overflow: hidden;
}

.comment-content.short {
    max-height: 6em;
}

.form-control {
    width: 40%;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Language buttons styles ------ */
.lang-button {
    border: none;
    background: transparent;
}

.grey-out {
    opacity: 0.35;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

