:root {
    /* --secondary-text: #545557; */
    --secondary-text: rgb(101, 103, 107);
    --secondary-text-family: "Segoe UI", Helvetica, Arial, sans-serif;
    --hover-color: rgba(128, 128, 128, 0.15);
}

.hidden {
    display: none;
}

/* ------ post, comment styles ------ */
.post-comment-element {
    max-width: 70%;
    margin: 30px auto;
    border: 4px solid black;
    background-color: rgba(128, 128, 128, 0.336);
}

.round-picture {
    border-radius: 50%;
    object-fit: cover;
}

.content {
    max-height: none;
    line-height: 1.5em;
    overflow-wrap: break-word;
    overflow: hidden;
}

.content.short {
    max-height: 120px;
}

.show-more {
    padding: 10px 0px;
    justify-self: center;
    align-self: center;
    font-family: var(--secondary-text-family);
    font-size: 0.82rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Language buttons styles ------ */
.lang-button {
    border: none;
    background: transparent;
}

.grey-out {
    opacity: 0.35;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post grid structure styles ------ */
.post {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(40px, auto)) minmax(0px, auto) repeat(2, minmax(40px, auto));
}

.post-user {
    grid-column: 1/12;
    grid-row: 1/2;
}

.post .delete-edit-panel {
    grid-column: 12/13;
    grid-row: 1/2; 
}

.post-date {
    grid-column: 1/13;
    grid-row: 2/3;
}

.post-content {
    grid-column: 1/13;
    grid-row: 3/4;
}

.post .show-more {
    grid-column: 1/13;
    grid-row: 4/5;
}

.post .like-data {
    grid-column: 1/7;
    grid-row: 5/6;
}

.comment-data {
    grid-column: 7/13;
    grid-row: 5/6;
}

.post .like-comment-control {
    grid-column: 1/13;
    grid-row: 6/7;
    display: grid;
}

.post .like-panel {
    grid-column: 1/7;
    grid-row: 1/2;
}

.post .comment-button {
    grid-column: 7/13;
    grid-row: 1/2;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

 /* ------ Post block styles ------ */
.post {
    border: 1px solid black;
    margin: 20px auto;
    max-width: 60%;
    padding: 25px 10px;
    background-color: white;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Post post-user styles ------ */
.post-profile-picture {
    height: 40px;
    width: 40px;
}

.post-profile-picture:hover, .comment-profile-picture:hover {
    opacity: 0.9;
}

.post-user a {
    padding-left: 10px;
    font-weight: 500;
    color: black;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post delete-edit-panel styles ------ */
.post .delete-edit-panel {
    justify-self: center;
    align-self: center;
}

.post .icon-button {
    padding: 5px 6px;
    border-radius: 20px;
}

.modal textarea.new-content {
    max-width: 100%;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post post-date styles ------ */
.post-date {
    align-self: center;
    font-family: var(--secondary-text-family);
    font-size: 0.8em;
    font-weight: 350;
    color: var(--secondary-text)
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post post-content styles ------ */
.post-content {
    padding: 5px 0px 20px 0px;
    font-size: 1.4em;
}

 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------ Post like-data styles ------ */
.post .like-data {
    align-self: top;
}

.emoji-list {
    display: inline;   
}

.emoji-list > i {
    position: relative;
    margin-right: 3px;
}

.like-counter {
    margin-left: 2px;
    font-size: 0.9em;
    font-weight: 380;
    color: var(--secondary-text);
}

.likes-indicator {
    display: inline;
    position: absolute;
    top: -30px;
    left: 6px;
    padding: 1px 3px;
    background: rgba(231, 161, 56, 0.5);
    border-radius: 10px;
}
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

 /* ------ Post comment-data styles ------ */
 .comment-data {
     align-self: top;
     justify-self: end;
     font-size: 0.9em;
     font-weight: 380;
     color: var(--secondary-text);
 }
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* TODO: different widths of comment/like buttons fix*/
/* ------ Post like-comment-control styles ------ */
.post .like-comment-control {
    border-top: 1px solid  rgba(128, 128, 128, 0.438);
    border-bottom: 1px solid  rgba(128, 128, 128, 0.438);
}

.like-comment-control {
    position: relative;
}

.like-comment-control button {
    background: transparent;
    border: none;
    border-radius: 5px;
}

.post .like-comment-control button:hover {
    background: var(--hover-color);
}

/* Like panel */
.post .like-button {
    width: 100%;
    height: 100%;
}

/* TODO: change to one style for post and comment */
.post .like-button.liked {
    color: rgba(236, 45, 45, 0.774);
    font-weight: 500;
}

.like-comment-control ul {
    margin: 0px;
    padding: 0px;
}

.like-button > i {
    margin-right: 15px;
}

.emoji-choice {
    padding: 8px 10px;
    border-radius: 20px;
    position: absolute;
}

.like-panel-in {
    animation: like-panel-in 0.5s ease-out forwards;
    
}


/* Emoji */
.emoji-choice i.em:hover {
    transform: scale(1.4);
    transition: transform 0.4s;
}

/* Animations */
 @keyframes like-panel-in {
     0% {
        background: transparent;
        opacity: 0;
        top: 0px;
     }

     100% {
        background: rgba(128, 128, 128, 0.671);
        opacity: 1;
        top: -32px;
     }
 }
 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */







