/* ------ Additional classes ------ */
.profile-icon {
    fill: rgb(99, 99, 99);
    width: 1.8em;
    height: 1.8em;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Main wrapper styles ------ */
.user-profile {
    padding-bottom: 25px;
    background: #3E5151;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #c1f7f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 12px -2px rgba(173,173,173,0.8);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Profile picture styles ------ */
.profile-picture {
    position: relative;
    margin: 0px auto 35px auto;
    border-radius: 0px 0px 10px 10px;
    background: rgb(109,183,132);
    background: linear-gradient(90deg, rgba(109,183,132,1) 0%, rgba(153,224,247,1) 26%, rgba(153,179,247,1) 57%, rgba(216,153,247,1) 82%, rgba(247,153,175,1) 100%);
    background-size: 200%;
    max-width: 1000px;
    min-height: 300px;
    animation: bg-animation 12s both cubic-bezier(.3,.11,1,.89) infinite alternate;
}

.profile-picture img {
    position: absolute;
    border: 3px solid #f6f6f6;
    left: 50%;
    bottom: -30px;
    margin-left:-103px;
    height: 200px;
    width: 200px;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Username styles ------ */
.profile-username {
    text-align: center;
    font-size: 1.7em;
    font-weight: 700;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Edit/follow buttons styles ------ */
.profile-buttons {
    margin-top: 10px;
    text-align: center;
}

.profile-buttons svg {
    width: 1.1em;
    height: 1.1em;
    margin-right: 5px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Following data styles ------ */
.profile-following {
    margin: 30px auto 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background: rgb(255 216 107 / 80%);
}
.profile-following .follow-text {
    margin-left: 5px;
}

.profile-following .follow-count {
    font-weight: 500;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Bio card styles ------ */
.bio {
    margin: 0px auto;
}

.bio h4 {
    margin-bottom: 20px;
    text-align: center;
    color:  rgb(58, 57, 57);
}

.bio div {
    margin: 10px 0px;
}

.bio span {
    margin-left: 10px;
    color: rgb(26, 25, 25);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Media queries ------ */
@media screen and (max-width: 1017px) {
    .profile-picture {
        border-radius: 0px;
    }
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
